---
BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
---
UseTab: ForIndentation
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveMacros: Consecutive
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: DontAlign
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
IncludeBlocks: Regroup
Language: Cpp
AccessModifierOffset: -4
SpaceAfterCStyleCast: true
BreakBeforeBraces: Allman
---
